body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  margin: 0;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-heigth: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #ff9900;
}

p,
#footer {
  color: #7d7987;
  font-size: 14px;
  line-heigth: 28px;
}

/* pegue o "a" que tenha anterior a ele um "a" */
#footer a + a {
  margin-left: 32px;
}

#line {
  width: 568px;
  heigth: 0px;

  margin: 0 auto 8px;

  border: 1px solid #eceff2;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
